<h1> Hello. Please Input a number Tree. </h1>
<%= form_tag do %>
	<p> Write down a number tree. </p>
	<%= text_area_tag 'numbers', nil, :rows => 10, :cols => 30 %>
	<%= submit_tag("Submit") %>
<% end %>

